<!-- Search plugin  start -->
<div id="site_search">
    <article class="article" itemscope itemprop="blogPost">
        <div class="article-inner">
            <div class="article-entry" itemprop="articleBody">
                    <input type="text" id="local-search-input" name="q" results="0" placeholder="请输入关键词" />
                    <div id="local-search-result"></div>
                </div>
            </div>
    </article>
</div>
<!-- Search plugin  end -->
<%- partial('_partial/archive', {pagination: 2, index: true}) %>