#site_search input{
  height:24px;
  margin-top:20px;
  width:98%;
  font-family: '微软雅黑';
  font-size:100%;
  padding: 3px 8px;
}
ul.search-result-list {
  padding-left: 10px;
}
a.search-result-title {
  font-weight: bold;
}
p.search-result {
  color=#555;
}
em.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold;
}